ritmodeluz.dautia.com {
    encode zstd gzip

    reverse_proxy ritmo-de-luz-api:8000

    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
        Permissions-Policy "microphone=(), camera=(), geolocation=()"
    }
}

